*:root
	--background1: #e8ae68
	--background2: #db5a42
	--background3: #ffd275
	--background4: #469eff

	--width: 300px
	--height: 300px

// -----------------------------
// FONTS

@font-face
	font-family: "UAV OSD Mono"
	src: url("../fonts/UAV-OSD-Sans-Mono.ttf")

// -----------------------------
// BODY

html, body
	height: 100%
	width: 100%
	margin: 0
	padding: 0

	overflow: hidden

body
	display: flex
	justify-content: center
	align-items: center

	background-color: #222
	color: #eee

	font-family: "UAV OSD Mono"
	font-size: 1em
	line-height: 1.5

// -----------------------------
// SCENE INTERFACE

// container
.container
	position: relative

	border: 1px solid #eee
	
	width: var(--width)
	height: var(--height)

// scene properties
.scene
	width: var(--width)
	height: var(--height)

	position: absolute
	top: 330px

	transition: all .5s ease

	.scene-1-label
		position: absolute
		top: calc(-1em - 10px)

	*
		user-select: none

.scene-1
	display: inline

// scene room
@for $i from 1 through 4
	.scene-1-room-#{$i}
		background-color: var(--background#{$i})
		background-image: url("../../assets/backgrounds/floor.svg")
		position: absolute

		transform-origin: left top
		left: -100px
		transform: rotateY(-90deg)

		width: var(--width)
		height: var(--height)

		transition: all 1s ease

		.scene-1-nav-#{$i}
			color: #eee

			position: absolute
			top: calc(-1em - 12px)
			left: #{260px}
			
			width: 40px
			text-align: right

// room switcher for scene 1
.scene-1-room-radio:checked
	+ .scene-1-room
		left: 0px
		transform: rotateY(0deg)

// dark background
.room-dark
	position: absolute
	height: var(--height)
	width: var(--width)

	background-color: rgba(0, 0, 0, .95)

// dark background switcher
.bedroom-switch-checkbox
	display: none

.bedroom-switch-checkbox:checked + .room-dark,
.bedroom-switch-checkbox:checked + .scene-1-label
	display: none

// scene switcher
.scene-radio, .scene-1-room-radio
	display: none
	position: absolute

.scene-radio:checked
	+ .scene
		top: 0

// game-closure
@mixin scene-closure($orientation)
	background-color: #222

	position: absolute

	@if ($orientation == "left" or $orientation == "right")
		width: 300px
		height: 330px

		top: -30px
		
		@if ($orientation == "left")
			left: -301px
		@else
			left: 301px

	@else
		width: 2000px
		height: 330px

		left: 0

		@if ($orientation == "bottom")
			top: 301px
		@else
			top: -300px

.scene-closure-bottom
	@include scene-closure("bottom")

.scene-closure-left
	@include scene-closure("left")

.scene-closure-right
	@include scene-closure("right")

// game label
.intro-label,
.instruction-label,
.prolog-label
	display: block
	margin: 16px

	.last
		animation: blink .5s ease infinite

// -----------------------------
// OBJECTS

@mixin objects($x, $y)
	position: absolute
	left: $x
	top: $y

@mixin object-dark()
	background-color: rgba(0, 0, 0, .95)

// bed
.bed
	width: 100px
	height: 100px

	@include objects(var(--object-x), var(--object-y))

// switch
.switch
	width: 18px
	height: 18px

	@include objects(var(--object-x), var(--object-y))

.room-dark .switch img
	width: 18px
	height: 18px

	@include objects(var(--object-x), var(--object-y))
	@include object-dark()

// -----------------------------
// ANIMATIONS

@keyframes blink
	from, to
		background-color: #eee
		color: #222

	50%
		background-color: #222
		color: #eee
