*:root
	--background1: #e8ae68
	--background2: #db5a42
	--background3: #ffd275
	--background4: #469eff

	--width: 300px
	--height: 300px

// -----------------------------
// FONTS

@font-face
	font-family: "UAV OSD Mono"
	src: url("../fonts/UAV-OSD-Sans-Mono.ttf")

// -----------------------------
// BODY

html, body
	height: 100%
	width: 100%
	margin: 0
	padding: 0

	overflow: hidden

body
	display: flex
	justify-content: center
	align-items: center

	background-color: #222
	color: #eee

	font-family: "UAV OSD Mono"
	font-size: 1em
	line-height: 1.5

// -----------------------------
// SCENE INTERFACE

// board
@mixin board()
	position: absolute
	z-index: 5

	box-sizing: content-box
	overflow-y: hidden

	background-color: #222
	width: 300px
	height: 0
	font-size: 0.8em

	transition: all .5s ease


// container
.container
	position: relative

	border: 1px solid #eee
	
	width: var(--width)
	height: var(--height)

// scene properties
.scene
	width: var(--width)
	height: var(--height)

	position: absolute
	top: 1000px

	transition: all 0.5s ease

	.scene-1-label
		position: absolute
		background-color: #222
		top: calc(-1em - 10px)

	*
		user-select: none

.scene-1
	display: inline

// scene room
@for $i from 1 through 4
	.scene-1-room-#{$i}
		background-color: var(--background#{$i})
		background-image: url("../../assets/backgrounds/floor.svg")
		position: absolute

		transform-origin: left top
		left: -305px
		width: var(--width)
		height: var(--height)

		transition: all 1s ease

		.scene-1-nav-#{$i}
			background-color: #222
			color: #eee

			position: absolute
			top: calc(-1em - 12px)
			left: 260px
			
			width: 40px
			text-align: right

// room switcher for scene 1
.scene-1-room-radio:checked
	+ .scene-1-room
		left: 0px

// dark background
.room-dark
	position: absolute
	height: var(--height)
	width: var(--width)

	background-color: rgba(0, 0, 0, .95)

// dark background switcher
.bedroom-switch-checkbox,
.bedroom-vase-1-switch-checkbox,
.kitchen-switch-checkbox
	display: none

.bedroom-switch-checkbox:checked ~ .scene-1-room-1 .room-dark,
.kitchen-switch-checkbox:checked ~ .scene-1-room-2 .room-dark,
	display: none

.bedroom-switch-checkbox ~ .scene-1-room
	.scene-1-nav-1, .scene-1-nav-2 label:last-child,
		display: none

.bedroom-switch-checkbox:checked ~ .scene-1-room
	.scene-1-nav-1,
	.scene-1-nav-2 label:last-child,
		display: inline

// scene switcher
.scene-radio, .scene-1-room-radio
	display: none
	position: relative
	// top: 400px

.scene-radio:checked
	+ .scene
		top: 0

// game-closure
@mixin scene-closure($orientation)
	background-color: #222

	position: absolute

	@if ($orientation == "left" or $orientation == "right")
		width: 310px
		height: 1500px

		z-index: 5
		
		top: -200px
		
		@if ($orientation == "left")
			left: -312px
		@else
			left: 312px

	@else
		width: 2000px
		height: 500px

		left: -600px

		@if ($orientation == "bottom")
			top: 301px
			z-index: 3

		@else
			top: -300px

.scene-closure-bottom
	@include scene-closure("bottom")

.scene-closure-left
	@include scene-closure("left")

.scene-closure-right
	@include scene-closure("right")

// game label
.intro-label,
.instruction-label,
.prolog-label
	display: block
	margin: 16px

.last
	animation: blink .5s ease infinite

// -----------------------------
// OBJECTS
.bedroom-paper-item-radio,
.bedroom-item-key-radio,
.open-door-event-radio
	display: none
	position: absolute

@mixin objects($width, $height, $x, $y)
	position: absolute
	user-drag: none
	left: $x
	top: $y

	width: $width
	height: $height

	transform-origin: bottom
	transform: scale(1)
	transition: all .5s ease


	img
		width: 100%
		height: 100%

@mixin object-dark()
	background-color: rgba(0, 0, 0, .95)

// bed
.bed
	@include objects(100px, 100px, var(--object-x), var(--object-y))

// bed
.door-right-side
	@include objects(40px, 40px, var(--object-x), var(--object-y))

	transform-origin: left
	transform: skewY(68deg) rotateY(65deg)
.door-right-side-room
	@include objects(20px, 39.5px, var(--object-x), var(--object-y))

	transform-origin: left
	transform: skewY(68deg) rotateY(65deg)

	background-color: #222
.open-door-event-radio:checked
	~ .scene-1-room
		.door-right-side
			transform: skewY(68deg) rotateY(80deg)
	~ .items-board
		.item-bedroom-key-block
			display: none !important

// switch
.switch
	@include objects(18px, 18px, var(--object-x), var(--object-y))

// cupboard
.cupboard
	@include objects(60px, 60px, var(--object-x), var(--object-y))

// key
.key-vertical
	@include objects(20px, 20px, var(--object-x), var(--object-y))
.bedroom-vase-1-switch-checkbox:checked ~ .scene-1-room
	.key-vertical
		top: 145px
.bedroom-item-key-radio:checked ~ .scene-1-room
	.key-vertical
		transform: scale(0)

	.door-right-side-locked
		display: none

// paperball
.paperball
	@include objects(10px, 10px, var(--object-x), var(--object-y))
	transform-origin: center
	transition: all .5s ease
.bedroom-paper-item-radio:checked ~ .scene-1-room
	.paperball
		transform: scale(0)

// vase
.vase
	@include objects(30px, 30px, var(--object-x), var(--object-y))

// ROOM DARK INTERACTION
.room-dark .switch
	@include objects(18px, 18px, var(--object-x), var(--object-y))
	@include object-dark()

// -----------------------------
// ITEMS

.items-board
	display: flex
	flex-direction: column

	width: var(--width)

	position: absolute
	top: 310px
	left: 0
	z-index: 5

	.items-list
		display: flex
		flex-direction: row

		.item-block
			display: none

			background-color: #222
			border: 1px solid #eee
			
			width: 18px
			height: 18px
			padding: 2px
			margin: 2px

			transition: all .5s ease


.bedroom-paper-item-radio:checked ~ .items-board .item-paperball-1-block
	display: block

.bedroom-item-key-radio:checked ~ .items-board .item-bedroom-key-block
	display: block

// -----------------------------
// ITEMS DESCRIPTION

.bedroom-paperball-1-description-radio,
.bedroom-key-description-radio,
	display: none

.items-description-board
	@include board()

	position: absolute

	top: 368px
	left: 0

.bedroom-paperball-1-description-radio:checked ~ .paperball-1-description,
.bedroom-key-description-radio:checked ~ .bedroom-key-description
	height: 100px
	overflow-y: auto

.open-door-event-radio:checked ~ .bedroom-key-description
	height: 0 !important

.bedroom-paperball-1-description-radio:checked ~ .items-board .item-paperball-1-block,
.bedroom-key-description-radio:checked ~ .items-board .item-bedroom-key-block
	background-color: #eee


// -----------------------------
// MESSAGE TRIGGERS

.room-message-board
	@include board()

	position: absolute
	top: calc(-1em - 118px)
	left: 0

.bedroom-switch-checkbox:checked ~ .scene-1-room .message-trigger-bedroom-turn-on,
.bedroom-paper-item-radio:checked ~ .scene-1-room .message-trigger-paperball-taken,
.bedroom-item-key-radio:checked ~ .scene-1-room .message-trigger-bedroom-key-taken,
.kitchen-switch-checkbox:checked ~ .scene-1-room .message-trigger-kitchen-turn-on,
.open-door-event-radio:checked ~ .scene-1-room .message-trigger-bedroom-unlocked,
.message-trigger-bedroom-turn-off,
.message-trigger-kitchen-turn-off
	height: 82px

// -----------------------------
// ANIMATIONS

@keyframes blink
	from, to
		background-color: #eee
		color: #222

	50%
		background-color: #222
		color: #eee
